.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

/vendor/
/backend/application/cache/*
/frontend/application/cache/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/backend/application/tests/build
/logs
/.vscode
/backend/application/logs
/frontend/application/logs
/frontend/openapi.json
/frontend/wap/
/frontend/web/
/frontend/application/views/wap.php
